.main {
    background-color: white;
    font-family: 'Axis';
    .slick-track {
        .slick-slide {
            margin-bottom: -10px;
        }
    }
    .image-slide-main {
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;
        .image-slide {
            width: 90.83vw;
            position: relative;
            z-index: 9999;
            img {
                width: 100%;
                height: 105vh;
                object-fit: cover;
            }
            .wecreate-content {
                position: absolute;
                width: 95%;
                height: 30vh;
                bottom: 0;
            }
            .content-left {
                z-index: 9;
                position: absolute;
                color: white;
                top: 50%;
                left: 40%;
                transform: translate(-40%, -50%);
                text-transform: uppercase;
                width: fit-content;
                @media only screen and (max-width: 1600px) {
                    left: 50%;
                }
                @media only screen and (max-width: 1280px) {
                    left: 40vw;
                }
                .content-left-line1 {
                    height: 200px;
                    overflow: hidden;
                    @media only screen and (max-width: 1600px) {
                        height: 150px;
                    }
                    @media only screen and (max-width: 1024px) {
                        height: 120px;
                    }
                    @media only screen and (max-width: 580px) {
                        height: 70px;
                    }
                }
            }
            h1 {
                font-size: 180px;
                @media only screen and (max-width: 1600px) {
                    font-size: 120px;
                }
                @media only screen and (max-width: 1024px) {
                    font-size: 100px;
                }
                @media only screen and (max-width: 580px) {
                    font-size: 62px;
                }
            }
            h2 {
                font-size: 72px;
                @media only screen and (max-width: 1600px) {
                    font-size: 52px;
                }
                @media only screen and (max-width: 1024px) {
                    font-size: 32px;
                }
                @media only screen and (max-width: 580px) {
                    font-size: 18px;
                }
            }
            .revert-prant {
                width: auto;
                overflow: hidden;
                position: relative;
                @media only screen and (max-width: 1024px) {
                    height: 35px;
                }
                @media only screen and (max-width: 580px) {
                    height: 20px;
                }
            }
            .revert {
                color: #1C2C58;
                background-color: white;
                @media only screen and (max-width: 1600px) {
                    width: 100%;
                }
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                }
                @media only screen and (max-width: 580px) {
                    width: 80vw;
                }
                h2 {
                    margin-left: 10px;
                }
            }
            .contentLineLast {
                overflow: hidden;
                height: 110px;
                @media only screen and (max-width: 1024px) {
                    height: 200px;
                }
                @media only screen and (max-width: 580px) {
                    height: 70px;
                }
                .bannerType1 {
                    font-size: 72px;
                    margin-top: 40px;
                    @media only screen and (max-width: 1600px) {
                        font-size: 52px;
                    }
                    @media only screen and (max-width: 1024px) {
                        font-size: 32px;
                        margin-top: 10px;
                    }
                    @media only screen and (max-width: 580px) {
                        font-size: 18px;
                    }
                }
                .bannerType2 {
                    font-size: 30px !important;
                    font-family: 'DB Adman X';
                    width: 30vw;
                    margin-top: 30px;
                    line-height: 0.9;
                    @media only screen and (max-width: 1600px) {
                        width: 30vw;
                        // width: 90%;
                        // font-size: 30px !important;
                    }
                    @media only screen and (max-width: 1024px) {
                        width: 50vw;
                    }
                    @media only screen and (max-width: 580px) {
                        margin-top: 20px;
                        font-size: 18px !important;
                        width: 80vw;
                    }
                }
                .red {
                    color: red;
                }
            }
            .videos-player {
                overflow: hidden;
                @media only screen and (min-width: 1620px) {
                    height: 100vh;
                }
                .videos {
                    height: 100vh;
                    width: auto;
                    margin-left: 0;
                }
            }
        }
        .image-slide-right {
            width: 9.17vw;
            position: relative;
            overflow: hidden;
            .img-rightSide {
                overflow: hidden;
            }
            .backChangeColor {
                width: 0%;
                height: 0%;
                position: absolute;
                background: #E91E56;
                transition: width 0.2s linear;
                right: 0;
                // z-index: 9999;
            }
            .text-right-out {
                top: 69%;
                position: relative;
                .text-right {
                    position: absolute;
                    transform: rotate(-90deg);
                    z-index: 10;
                    font-size: 120px;
                    color: transparent;
                    margin-left: 6.5vw;
                    width: 2.5vw;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: white;
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
            img {
                width: 100%;
                height: 140vh;
                margin-top: -20vh;
                object-fit: cover;
            }
        }
    }
    .pg-nav {
        position: absolute;
        width: 100vw;
        height: 15vh;
        .logo {
            position: absolute;
            z-index: 999;
            top: 25%;
            left: 2.604166666666667vw;
            @media only screen and (max-width: 1280px) {
                width: 166px;
                top: 58px;
            }
            @media only screen and (max-width: 520px) {
                display: none;
            }
            img {
                width: 280px;
                @media only screen and (max-width: 1280px) {
                    width: 166px;
                }
            }
        }
        .center {
            position: absolute;
            z-index: 9999999;
            text-align: center;
            font-size: 65px;
            font-family: math;
            color: #E91E56;
            left: 48%;
            top: 5%;
            width: 100px;
            height: 100px;
            padding-right: 50px;
            padding-bottom: 50px;
            @media only screen and (max-width: 768px) {
                width: 50px;
            }
        }
        .content {
            position: absolute;
            top: 30%;
            font-size: 18px;
            color: white;
            z-index: 100;
            right: 0vw;
            padding: 20px;
            a {
                padding: 20px 20px;
            }
            @media only screen and (max-width: 520px) {
                display: none;
            }
        }
    }
    // .slick-arrow.slick-next {
    //     // background: black;
    //     right: 7vw;
    //     top: 95vh;
    // }
    .hamburger {
        font: inherit;
        display: inline-block;
        overflow: visible;
        margin: 0;
        padding: 0px;
        cursor: pointer;
        transition-timing-function: linear;
        transition-duration: .15s;
        transition-property: opacity, filter;
        text-transform: none;
        color: inherit;
        border: 0;
        background-color: transparent;
    }
    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 0px;
        height: 0px;
    }
    .slick-arrow.slick-next::before {
        font-family: fantasy;
        font-size: 30px;
        line-height: 1;
        opacity: 1;
        color: white;
        position: absolute;
        bottom: 5.1vh;
        left: 20px;
        @media only screen and (min-width: 768px) and (max-width: 1900px) {
            bottom: 5vh;
        }
        @media only screen and (max-width: 768px) {
            left: -12px;
        }
    }
    .slick-arrow.slick-prev::before {
        font-family: fantasy;
        font-size: 30px;
        line-height: 1;
        opacity: 1;
        color: white;
        bottom: 32px;
        right: 6px;
        position: absolute;
    }
    .custom-arrow {
        height: 100vh;
        width: 9.17vw;
        top: 8px;
        transform: translate(0, 0);
        right: 0;
    }
    .custom-arrow-prevArrow {
        height: 97px;
        width: 100px;
        left: 85vw;
        top: 94vh;
        z-index: 100;
        @media only screen and (min-width: 1100px) and (max-width: 1600px) {
            left: 82vw;
        }
        @media only screen and (min-width: 768px) and (max-width: 1100px) {
            left: 80vw;
        }
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
    .hamburger-inner.hamburger-inner:after {
        background-color: #E91E56 !important;
    }
    .hamburger-inner.hamburger-inner:before {
        background-color: #E91E56 !important;
        @media only screen and (max-width: 768px) {
            margin-top: 6px;
        }
    }
    .hamburger-inner {
        background-color: transparent;
    }
    .is-active .hamburger-inner {
        background-color: #E91E56 !important;
    }
    .hamburger-inner:before {
        background-color: #E91E56 !important;
    }
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        @media only screen and (max-width: 768px) {
            width: 28px;
        }
        @media only screen and (max-width: 520px) {
            width: 30px;
        }
    }
}

.about {
    // background-color: #1C2C58;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    .bv-menu {
        color: white;
        text-align: center;
        .menu-top {
            padding-top: 45px;
        }
        .menu-center {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            transform: translate(-50%, -50%);
            h1 {
                text-transform: uppercase;
                font-size: 159px;
                @media only screen and (max-width: 978px) {
                    font-size: 120px;
                }
                @media only screen and (max-width: 570px) {
                    font-size: 64px;
                    top: 45%;
                }
            }
            .menu-link {
                opacity: 1;
                transition: color 0.5s linear;
                color: #979DAF;
                overflow: hidden;
                @media only screen and (max-width: 978px) {
                    color: #ffffff;
                }
                a {
                    position: relative;
                    display: inline-block;
                    color: #979DAF;
                    overflow: hidden;
                    background: linear-gradient(to top, white, white 50%, #979DAF 50%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 100% 200%;
                    transition: background-position 500ms ease;
                    text-decoration: none; // text decorations are clipped in WebKit browsers
                    &:hover {
                        background-position: 0 100%;
                    }
                    @media only screen and (max-width: 978px) {
                        color: #ffffff;
                        -webkit-text-fill-color: white;
                    }
                }
            }
        }
        .bv-menu-menu {
            height: 20vh;
            overflow: hidden;
            @media only screen and (max-width: 978px) {
                height: 120px;
            }
            @media only screen and (max-width: 570px) {
                height: 80px;
            }
        }
        .contact-memu {
            display: none;
            @media only screen and (max-width: 570px) {
                display: block;
            }
        }
    }
}

.tab-parent {
    position: absolute;
    width: 100vw;
    z-index: 9999;
    height: 100vh;
    .tab-child {
        background-color: #1C2C58;
        height: 100vh;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.about-link {
    color: white;
}

.about-link:hover {
    color: white;
}

.animate__animated.animate__delay-100ms {
    -webkit-animation-delay: 100ms !important;
    animation-delay: 100ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-200ms {
    -webkit-animation-delay: 200ms !important;
    animation-delay: 200ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-300ms {
    -webkit-animation-delay: 300ms !important;
    animation-delay: 300ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-400ms {
    -webkit-animation-delay: 400ms !important;
    animation-delay: 400ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-500ms {
    -webkit-animation-delay: 500ms !important;
    animation-delay: 500ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-600ms {
    -webkit-animation-delay: 600ms !important;
    animation-delay: 600ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-700ms {
    -webkit-animation-delay: 700ms !important;
    animation-delay: 700ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-800ms {
    -webkit-animation-delay: 800ms !important;
    animation-delay: 800ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-900ms {
    -webkit-animation-delay: 900ms !important;
    animation-delay: 900ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1000ms {
    -webkit-animation-delay: 1000ms !important;
    animation-delay: 1000ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1100ms {
    -webkit-animation-delay: 1100ms !important;
    animation-delay: 1100ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1200ms {
    -webkit-animation-delay: 1200ms !important;
    animation-delay: 1200ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1400ms {
    -webkit-animation-delay: 1400ms !important;
    animation-delay: 1400ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1300ms {
    -webkit-animation-delay: 1300ms !important;
    animation-delay: 1300ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1500ms {
    -webkit-animation-delay: 1500ms !important;
    animation-delay: 1500ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1800ms {
    -webkit-animation-delay: 1800ms !important;
    animation-delay: 1800ms !important;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.leave-contact-from {
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    z-index: 999999999;
    bottom: 0;
    transition: height 0.5s linear;
    .box-leave {
        position: absolute;
        width: 885px;
        height: 844px;
        background-color: white;
        bottom: 7%;
        z-index: 99999;
        color: black;
        left: 10%;
        padding: 30px;
        transition: all 0.5s linear;
        @media only screen and (max-width: 990px) {
            width: 90%;
            height: 90%;
            left: 5vw;
            bottom: 5%;
        }
        .close {
            width: 80px;
            height: 80px;
            text-align: center;
            padding: 14px;
            opacity: 1;
            margin-top: -30px;
            margin-right: 0;
            position: absolute;
            right: 0;
        }
        .header {
            color: #1C2C58;
            font-size: 72px;
            font-family: 'AXIS';
            @media only screen and (max-width: 990px) {
                font-size: 48px;
            }
            @media only screen and (max-width: 520px) {
                font-size: 32px;
            }
        }
        .content {
            margin-top: 30px;
            font-family: 'DB Adman X';
            font-size: 30px;
            color: #111111;
            @media only screen and (max-width: 990px) {
                font-size: 24px;
            }
            @media only screen and (max-width: 520px) {
                font-size: 20px;
            }
        }
        .from {
            margin-top: 50px;
            input {
                padding: 0;
                margin-bottom: 20px;
                border: 0px;
                border-radius: 0;
                border-bottom: 1px solid #707070;
                color: #E91E56;
                font-size: 13.5;
                font-family: 'AXIS';
            }
            input::placeholder {
                color: #E91E56;
                font-size: 13.5;
                font-family: 'AXIS';
            }
            button {
                margin-top: 20px;
                background-color: transparent;
                color: #111111;
                border: 0px;
                padding: 0;
                border-bottom: 1px solid #111111;
                border-radius: 0;
                font-family: 'Prompt-light';
                font-size: 16px;
            }
        }
    }
    .box-directily-in-hover {
        width: 43%;
        height: 100%;
        // background-color: black;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        @media only screen and (max-width: 990px) {
            display: none;
        }
    }
    .box-directily {
        z-index: 99999999;
        background-color: rgba($color: #E91E56, $alpha: 0.8);
        position: absolute;
        width: 100vw;
        height: 100vh;
        transition: visibility 1s, opacity 0.5s linear;
        @media only screen and (max-width: 990px) {
            display: none;
        }
        .box-directily-in {
            width: 50%;
            color: white;
            font-family: 'AXIS';
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            position: absolute;
            line-height: 1.1;
            .header {
                font-size: 80px;
            }
            .content {
                font-size: 120px;
            }
        }
    }
}

.leave-contact-menu {
    color: white;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0%);
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 13.5px;
    z-index: 9999999999999;
    bottom: 0;
    @media only screen and (max-width: 978px) {
        bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    cursor: pointer;
    .left-contact {
        padding-left: 10.625vw;
        @media only screen and (max-width: 570px) {
            padding-left: 10.625vw;
        }
        p {
            border-bottom: 2px solid #ffffff;
            padding-bottom: 0px;
            width: fit-content;
            @media only screen and (max-width: 570px) {
                font-size: 13.5px;
                font-family: 'AXIS';
            }
        }
    }
    .social-menu {
        // @media only screen and (max-width: 1199px) {
        //     width: 30px;
        // }
        .text {
            padding-left: 0;
            padding-right: 0;
            width: 126px;
            text-align: left;
            @media only screen and (max-width: 570px) {
                width: 50px;
                font-size: 13.5px;
                font-family: 'AXIS';
            }
        }
    }
}

.leave-contact {
    color: white;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0%);
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 13.5px;
    z-index: 9999999999999;
    // bottom: 0;
    @media only screen and (max-width: 978px) {
        padding-left: 0px;
        padding-right: 0px;
    }
    cursor: pointer;
    .left-contact {
        padding-left: 10.625vw;
        @media only screen and (max-width: 570px) {
            padding-left: 10.625vw;
        }
        p {
            border-bottom: 2px solid #ffffff;
            padding-bottom: 0px;
            width: fit-content;
            @media only screen and (max-width: 570px) {
                font-size: 13.5px;
                font-family: 'AXIS';
            }
        }
    }
    .social-menu {
        .text {
            padding-left: 0;
            padding-right: 0;
            width: 126px;
            text-align: left;
            @media only screen and (max-width: 570px) {
                width: 50px;
                font-size: 13.5px;
                font-family: 'AXIS';
            }
        }
    }
}

.toasted-container.bottom-left {
    left: 11.5%;
    bottom: 34%;
    z-index: 99999999999;
}

.toasted.bubble {
    background-color: #E91E56 !important;
    z-index: 99999999999;
}