.works {
    // width: 100vw;
    // height: 100vh;
    background-color: #1C2C58;
    .works-in {
        // padding-top: 8%;
        padding-top: 8%;
        padding-bottom: 30px;
        @media (max-width: 1200px) {
            padding-top: 120px;
        }
        .team {
            color: white;
            // border-bottom: 1px solid white;
            width: 95%;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            // transition: all 0.5s linear;
            overflow: hidden;
            .team-line {
                height: 1px;
                width: 100%;
                background-color: white;
                margin-top: 15px;
            }
        }
        .header {
            color: white;
            padding-left: 7.2vw;
            padding-right: 7.2vw;
            text-align: center;
            @media (max-width: 480px) {
                margin-top: 10px;
            }
            .growup {
                font-size: 72px;
                font-weight: 600;
                @media (max-width: 1200px) {
                    font-size: 50px;
                }
                @media (max-width: 950px) {
                    font-size: 48px;
                }
                @media (max-width: 768px) {
                    font-size: 40px;
                }
                @media (max-width: 480px) {
                    font-size: 24px;
                }
                .tital-growup {
                    font-family: 'prompt';
                    padding-left: 20px;
                    color: #E91E56;
                }
            }
        }
        .search {
            width: 100vw;
            @media (max-width: 480px) {
                display: none;
            }
            .search-from {
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 8%;
                input {
                    background-color: transparent;
                    border: 0px;
                    border-bottom: 1px solid #FFF;
                    border-radius: 0;
                    color: #ffffff;
                }
                .icon-serach {
                    padding-left: 15px;
                    display: flex;
                    height: 0px;
                    .serch-result {
                        margin-top: -5px;
                        cursor: pointer;
                    }
                    .icon-serach-in {
                        margin-left: 10px !important;
                        margin-top: -5px;
                    }
                }
            }
            .serchTag {
                color: white;
                padding-left: 7.2vw;
                padding-right: 7.2vw;
                padding-top: 5%;
                @media (max-width: 768px) {
                    padding-top: 10%;
                }
                .row {
                    justify-content: center;
                }
                .seachTage-block {
                    width: auto;
                    font-family: 'prompt';
                    font-size: 13.5px;
                    display: flex;
                    padding: 10px 20px;
                    .tagname {
                        width: 200px;
                    }
                }
            }
        }
        .icon-plus {
            margin-left: 50px;
            .hamburger {
                padding: 0px;
            }
            .hamburger-box {
                position: relative;
                display: inline-block;
                width: auto;
                height: auto;
            }
            .hamburger-inner {
                top: 50%;
                display: block;
                margin-top: -6px;
            }
            .hamburger-inner,
            .hamburger-inner:after,
            .hamburger-inner:before {
                position: absolute;
                width: 18px;
                height: 1px;
                transition-timing-function: ease;
                transition-duration: .15s;
                transition-property: transform;
                border-radius: 4px;
                background-color: #000;
            }
            .slick-arrow.slick-next::before {
                font-family: fantasy;
                font-size: 30px;
                line-height: 1;
                opacity: 1;
                color: white;
                position: absolute;
                bottom: 3.2vh;
                left: 20px;
                @media only screen and (min-width: 768px) and (max-width: 1900px) {
                    bottom: 2.7vh;
                }
                @media only screen and (max-width: 768px) {
                    left: -12px;
                }
            }
            .slick-arrow.slick-prev::before {
                font-family: fantasy;
                font-size: 30px;
                line-height: 1;
                opacity: 1;
                color: white;
                bottom: 32px;
                right: 6px;
                position: absolute;
            }
            .custom-arrow {
                height: 100vh;
                width: 9.17vw;
                top: 0;
                transform: translate(0, 0);
                right: 0;
            }
            .custom-arrow-prevArrow {
                height: 100px;
                width: 100px;
                left: 85vw;
                top: 95vh;
                z-index: 100;
                @media only screen and (min-width: 1100px) and (max-width: 1600px) {
                    left: 82vw;
                }
                @media only screen and (min-width: 768px) and (max-width: 1100px) {
                    left: 80vw;
                }
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
            .hamburger-inner.hamburger-inner:after {
                background-color: #ffffff !important;
            }
            .hamburger-inner.hamburger-inner:before {
                background-color: #ffffff !important;
            }
            .hamburger-inner {
                background-color: transparent;
            }
            .is-active .hamburger-inner {
                background-color: #E91E56 !important;
            }
            .is-active .hamburger-inner:before {
                background-color: #E91E56 !important;
            }
            .is-active .hamburger-inner:after {
                background-color: #E91E56 !important;
            }
            .is-active.hamburger--spin .hamburger-inner {
                transform: rotate(225deg);
            }
            .hamburger--spin .hamburger-inner {
                transition-timing-function: cubic-bezier(.55, .055, .675, .19);
                transition-duration: .22s;
                transform: rotate(270deg);
            }
            .hamburger-inner:after {
                bottom: 0px;
            }
            .hamburger--spin .hamburger-inner:before {
                transition: top .1s ease-in .25s, opacity .1s ease-in;
                transform: rotate(270deg);
            }
            .hamburger-inner:before {
                top: 0px;
            }
        }
        .imageGrid {
            padding-right: 30px;
            padding-left: 30px;
            margin-top: 80px;
            padding-bottom: 50px;
            @media (max-width: 574px) {
                padding-right: 0px;
                padding-left: 0px;
            }
            @media (max-width: 480px) {
                margin-top: 30px;
            }
            .imageGrid-in {
                padding-right: 10px;
                padding-left: 10px;
                .imageBlock {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    position: relative;
                    .cover-image {
                        position: relative;
                        img {
                            object-fit: cover;
                            width: 100%;
                            transition: all 0.5s linear;
                        }
                        .cover {
                            width: 0%;
                            height: 0%;
                            position: absolute;
                            background-color: rgba(233, 30, 86, 0.75);
                            z-index: 10;
                            transition: height 0.5s linear;
                            bottom: 0;
                            // margin-bottom: 4px;
                        }
                        // transition: visibility 1s, opacity 0.5s linear;
                    }
                    .infomation {
                        position: absolute;
                        transition: visibility 1s, opacity 0.5s linear;
                        color: white;
                        z-index: 11;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: max-content;
                        text-align: center;
                        font-family: 'Prompt-MediumItalic';
                        line-height: 1;
                        .name-infomation {
                            font-size: 32px;
                        }
                        .center-infomation {
                            font-size: 32px;
                        }
                        .company-infomation {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    .work-detail {
        width: 100vw;
        position: absolute;
        // top: 0;
        bottom: 0;
        background-color: #1C2C58;
        z-index: 99;
        padding-top: 150px;
        transition: height 0.5s linear;
        .team {
            color: white;
            // border-bottom: 1px solid white;
            width: 95%;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            // transition: all 0.5s linear;
            overflow: hidden;
            .team-line {
                height: 1px;
                width: 100%;
                background-color: white;
                margin-top: 15px;
            }
        }
        .work-detailrow {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 50px;
            display: flex;
            .card-work-detail {
                display: flex;
                color: white;
                // padding-left: 3vw;
                // padding-top: 30px;
                width: 90%;
                @media (max-width: 768px) {
                    width: 100%;
                    display: block;
                }
                .img-work-detail {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // width: 30%;
                }
                .work-detail-overview {
                    background-color: white;
                    color: black;
                    // width: 400px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 20px;
                    position: relative;
                    width: 35%;
                    @media (max-width: 1366px) {
                        width: 50%;
                    }
                    @media (max-width: 1200px) {
                        width: 60%;
                    }
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                    .overview {
                        font-family: 'DB Adman X';
                        font-size: 20px;
                        text-transform: uppercase;
                        display: inline-flex;
                        width: 100%;
                        .line-parent {
                            width: 75%;
                            overflow: hidden;
                            margin-left: 10px;
                            .line {
                                margin-left: 10px;
                                height: 14px;
                                border-bottom: 1px solid #D83959;
                            }
                        }
                    }
                    .detail {
                        font-family: 'Prompt-light';
                        font-size: 13.5px;
                        @media (max-width: 1200px) {
                            font-size: 13.5px;
                        }
                        @media (max-width: 1200px) {
                            padding-bottom: 60px;
                        }
                        @media (max-width: 950px) {
                            padding-bottom: 100px;
                        }
                    }
                    .capability-el {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 20%;
                        width: 90%;
                        @media (max-width: 1200px) {
                            margin-bottom: 2%;
                        }
                        .capability {
                            font-family: 'DB Adman X';
                            font-size: 20px;
                            text-transform: uppercase;
                            display: inline-flex;
                            width: 100%;
                            .line-parent {
                                width: 75%;
                                overflow: hidden;
                                margin-left: 10px;
                                .line {
                                    margin-left: 10px;
                                    height: 14px;
                                    border-bottom: 1px solid #D83959;
                                }
                            }
                        }
                        .capability-type {
                            font-family: 'Prompt-light';
                            font-size: 13.5px;
                            .el {
                                display: inline-flex;
                                .line {
                                    padding-left: 5px;
                                    padding-right: 5px;
                                    color: #D83959;
                                }
                            }
                        }
                    }
                }
            }
            .arrow {
                color: white;
                position: relative;
                width: 10%;
                font-family: 'Prompt-light';
                font-size: 13.5px;
                // display: grid;
                text-align: center;
                @media (max-width: 768px) {
                    display: none;
                }
                .left-arrow {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    width: fit-content;
                }
                .right-arrow {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0%);
                }
            }
        }
        .gallery-list {
            background-color: #1C2C58;
            color: white;
            .imageGrid {
                padding-right: 30px;
                padding-left: 30px;
                padding-top: 80px;
                padding-bottom: 50px;
                .imageGrid-in {
                    padding-right: 10px;
                    padding-left: 10px;
                    .imageBlock {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        position: relative;
                        .cover-image {
                            position: relative;
                            img {
                                object-fit: cover;
                                width: 100%;
                                transition: all 0.5s linear;
                            }
                        }
                    }
                }
            }
        }
        .related-work-text {
            // font-size: 24px;
            // font-family: 'Prompt';
            text-transform: uppercase;
        }
        .related-work {
            padding-top: 50px;
            display: inline-flex;
            .related-current {
                width: 99%;
                position: relative;
                .arrow-left {
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    z-index: 99;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
                .cover-image {
                    position: relative;
                    img {
                        object-fit: cover;
                        filter: brightness(0.8);
                        transition: all 0.5s linear;
                        width: 99vw;
                        height: 717px;
                        object-fit: cover;
                    }
                    .cover {
                        width: 0%;
                        height: 0%;
                        position: absolute;
                        background-color: rgba(233, 30, 86, 0.75);
                        z-index: 10;
                        transition: height 0.5s linear;
                        bottom: 0;
                        // margin-bottom: 4px;
                    }
                    // transition: visibility 1s, opacity 0.5s linear;
                }
                .infomation {
                    position: absolute;
                    color: white;
                    left: 10.677083333333332vw;
                    top: 30px;
                    z-index: 99;
                    transition: visibility 1s, opacity 0.5s linear;
                    @media (max-width: 450px) {
                        left: 3vw;
                    }
                    .name {
                        font-size: 180px;
                        font-family: 'AXIS';
                        padding-bottom: 300px;
                        @media (max-width: 768px) {
                            font-size: 100px;
                        }
                        @media (max-width: 450px) {
                            font-size: 64px;
                        }
                    }
                    .capability {
                        .in {
                            display: inline-flex;
                            font-size: 24px;
                            font-family: 'Prompt-light';
                            @media (max-width: 450px) {
                                font-size: 18px;
                            }
                            .line {
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
            .related-next {
                width: 10%;
                position: relative;
                .arrow-right {
                    position: absolute;
                    bottom: 20px;
                    left: 15px;
                    z-index: 99;
                    @media (max-width: 768px) {
                        left: -15px;
                    }
                }
                img {
                    object-fit: cover;
                    filter: brightness(0.8);
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}